{% block header %}
  <h1>{% block title %}{{plugin_name}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Details</h2>
    <strong>Version:</strong> {{ metadata.version }} <br />
    <strong>Summary:</strong> {{ metadata.summary }} <br />
    <strong>Author:</strong> {{ metadata.author }} <br />
    <strong>Author Email:</strong> <a href="mailto:{{  metadata.author_email }}">{{ metadata.author_email }}</a> <br />
    <strong>Documentation:</strong> <a href="{{ documentation_link }}"> {{ documentation_link }}</a> <br />
    <strong>Repo:</strong> <a href="{{ repo_link }}">{{ repo_link }}</a> <br />
    <strong>License:</strong> {{ metadata.license }} <br />
    <hr />
    {{ readme|safe }}
{% endblock %}